@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quattrocento&family=Shrikhand&display=swap');

.container { 
  font-family: 'Quattrocento', sans-serif;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 65px;
  display: flex;
  position: fixed;
  padding: 14px 21px;
  align-items: center;
  background: white;
  border-bottom: 1px solid rgb(200, 200, 200);
}

a {
    text-decoration: none;
    color: inherit;
}

.container img {
  width: 50px;
}

.container h1 {
    margin-left: 25px;
    font-family: "Pacifico", cursive;
    color: black,
}

.container ul {
  margin: 0;
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: flex-end;
}

.container li {
  margin-left: 35px;
  text-align: right;
}
