/* src/index.css */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background-color: #f2e9e1;
  font-family: sans-serif;
}

body {
  overflow: auto;
  padding-top: 80px;
}

